.product-display li button.splide__pagination__page {
    opacity: 1 !important;
    border-radius: 0;
    border-radius: 4px;
    width: 6px !important;
    height: 6px !important;
    aspect-ratio: 1/1 !important;
    transition: all 300ms ease-in-out !important;
} 

@media only screen and (max-width: 776px) {
    .product-display ul.splide__pagination {
        gap: 4px !important;
    }
    .product-display li button.splide__pagination__page {
        width: 8px !important;
        height: 8px !important;
        aspect-ratio: 1/1 !important;
    }
}

.product-display li button.splide__pagination__page.is-active {
    opacity: 1 !important;
    background-color: #000425;
}

.tweet-display li button.splide__pagination__page.is-active {
    opacity: 1 !important;
    background-color: #6A40F9;
}

.search-display li button.splide__pagination__page.is-active {
    opacity: 1 !important;
    background-color: #000425 !important;
}

.filter li button.splide__pagination__page {
    border-radius: 4px !important;
}

.filter li button.splide__pagination__page.is-active {
    background-color: #000425 !important;
}

.single-tweet li button.splide__pagination__page {
    border-radius: 4px !important;
}

.single-tweet li button.splide__pagination__page.is-active {
    background-color: #000425 !important;
}



